<!DOCTYPE html>
<html>
<head>
  <title>Code Consultants</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="(min-width: 481px)"/>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <meta name="description" content="Code Consultants" />
  <meta name="keywords" content="Code Consultants, NodeJS, AngularJS, Web Technologies Consulting, Inovation." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>
  <meta property="og:title" content="Code Consultants" />
  <meta property="og:image" content="http://nossomos.cc/images/cc.png" />
  <meta property="og:url" content="http://nossomos.cc/" />
  <!--[if lt IE 9]>
  <script src="/javascripts/html5shim.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <div class="inner">
      <div data-id="home" class="header-logo icons"></div>
      <div data-id="home" class="header-name">Code Consultants</div>

      <nav class="header-nav">
        <a data-id="home" class="header-nav-link active">Home</a>
        <a data-id="rock" class="header-nav-link">About</a>
        <a data-id="differential" class="header-nav-link">Differential</a>
        <a data-id="products" class="header-nav-link">Products</a>
        <a data-id="contact" class="header-nav-link">Contact</a>
      </nav>
    </div>
  </header>

  <section id="home">
    <h1>Meet <strong>Code Consultants</strong>!</h1>
    <h2>/the right <strong>choice for your business.</strong></h2>
    <h3>Turning ideas into real experiences</h3>

    <div class="home-social">
      <a class="home-social-link facebook icons" href="http://facebook.com/nossomoscc"></a>
      <a class="home-social-link twitter icons" href="http://twitter.com/nossomoscc"></a>
      <a class="home-social-link gplus icons" href="https://plus.google.com/+nossomoscc"></a>
    </div>
  </section>

  <section id="rock">
    <h2 class="section-title">What we rock at</h2>

    <div class="rock-list inner">
      <div class="rock-item">
        <div class="rock-item-icon icons training"></div>
        <h3 class="rock-item-name">Team Training</h3>
        <p class="rock-item-text">We love to share our experience with companies. If you need to make your team better, we can help you with that. Front-end skills, Backend, Agile Training and <a href="#training-specs">more</a>.</p>
      </div>
      <div class="rock-item">
        <div class="rock-item-icon icons open"></div>
        <h3 class="rock-item-name">Open Source Projects</h3>
        <p class="rock-item-text">This is how everything started and it will never end. We love open source projects and we keep contributing everyday to the community. NodeJS, Angular, Ruby, Node-webkit and more. <a href="http://github.com/cconsultants">Github Projects</a></p>
      </div>
      <div class="rock-item">
        <div class="rock-item-icon icons consulting"></div>
        <h3 class="rock-item-name">Consulting</h3>
        <p class="rock-item-text">We can build your awesome project with you! If you have an idea or a product to build, hire us to make things happen! We will do it fast and safe.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <section id="differential">
    <h2 class="section-title">Our differential</h2>
    <p class="section-description">We are passionate developers. We love what we do and we do it well. Our team is what really makes the difference.</p>

    <div class="people-list">
      <div class="people">
        <div class="people-thumb"><img src="https://avatars.githubusercontent.com/u/3402?v=2" /></div>
        <h3 class="people-name">Djalma Araújo</h3>
        <p class="people-role">Coffee Maker</p>
      </div>
      <div class="people">
        <div class="people-thumb"><img src="https://avatars.githubusercontent.com/u/1626178?v=2" /></div>
        <h3 class="people-name">Guilherme Farias</h3>
        <p class="people-role">Redbull Drinker</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <section id="products">
    <h2 class="section-title">Our products</h2>

    <div class="product-list">
      <div class="product">
        <div class="product-thumb cowdown"></div>
        <div class="product-name">Cowdown</div>
        <div class="product-description">An awesome markdown app</div>
      </div>
      <div class="product">
        <div class="product-thumb meusgastos"></div>
        <div class="product-name">MeusGastos</div>
        <div class="product-description">Manage your money easily</div>
      </div>
      <div class="product">
        <div class="product-thumb youridea"></div>
        <div class="product-name">Your Idea</div>
        <div class="product-description">Lets work together!</div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <section id="contact-success" style="display: none">
    <h2 class="section-title">A-w-e-s-o-m-e!</h2>
    <div class="checkmark">
      <div class="checkmark-circle"></div>
      <div class="checkmark-stem"></div>
      <div class="checkmark-kick"></div>
    </div>
    <p class="section-description">
      We promise this won't take forever, we'll get back to you very soon.
      <br />
      If you need to talk right now, give us a call: <a href="tel://+558189800660"><strong>(+55) 81 8980 0660</strong></a>

      </p>
    <div class="clearfix"></div>
  </section>

  <section id="contact">
    <h2 class="section-title">Let's Talk</h2>
    <p class="section-description">We’d love to hear from you! Send us a message using the form below</p>

    <div class="inner">
      <form class="contact-form" method="post" action="/contact">
        <input class="contact-input contact-form-name" name="name" type="text" placeholder="Name" required="required"/>
        <input class="contact-input contact-form-email" name="email" type="email" placeholder="Email" required="required"/>
        <textarea class="contact-textarea contact-form-message" name="message" placeholder="Message" required="required"></textarea>
        <input class="contact-submit" type="submit" value="Send Message" />
      </form>


      <div class="contact-aside">
        <h3>Let's build the next revolutionary project together!</h3>
        <p>(55) 81 8980 0660</p>
        <p>hello@nossomos.cc</p>
        <p>www.nossomos.cc</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <footer>
    <div class="inner">
      <div class="footer-logo icons"></div>
      <div class="footer-name">Code Consultants</div>

      <div class="footer-social">
        <a href="http://facebook.com/nossomoscc" class="footer-social-link icons facebook"></a>
        <a href="http://twitter.com/nossomoscc" class="footer-social-link icons twitter"></a>
        <a href="https://plus.google.com/+nossomoscc" href="#" class="footer-social-link icons gplus"></a>
      </div>
      <p class="footer-copy">&copy; 2014 CC. All Rights Reserved.</p>
    </div>
  </footer>

  <script src="/javascripts/script.js" type="text/javascript"></script>
</body>
</html>
