* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	color: #062033;
	padding-top: 70px;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

input,
textarea {
	font-family: 'Open Sans', sans-serif;
}

section {
	width: 100%;
	padding: 90px 0;
}

.inner {
	width: 1170px;
	margin: 0 auto;
}

.icons {
	background-repeat: no-repeat;
	background-image: url(/images/icons.png);
}

.clearfix {
	clear: both;
}


/*---------------------------------------*\
                  HEADER
\*---------------------------------------*/

header {
	top: 0;
	left: 0;
	color: #fff;
	width: 100%;
	height: 70px;
	font-weight: 100;
	line-height: 70px;
	position: fixed;
	background-color: #cf2548;
}

.header-logo {
	float: left;
	width: 75px;
	height: 45px;
	margin-right: 20px;
	margin-top: 12.5px;
}

.header-name {
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	padding-left: 20px;
	margin-top: 25px;
	border-left: 1px solid #fff;
}

.header-nav {
	float: right;
	font-size: 14px;
}

.header-nav-link {
	float: left;
	height: 70px;
	cursor: pointer;
	padding: 0 10px;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.header-nav-link:hover,
.header-nav-link.active {
	color: #dbcfd0;
	background-color: #b72543;
}

/*---------------------------------------*\
                  BODY
\*---------------------------------------*/


.section-title {
	width: 270px;
	color: #e5274a;
	font-size: 28px;
	font-weight: 800;
	text-align: center;
	margin: 0 auto 40px;
	padding-bottom: 10px;
	white-space: nowrap;
	text-transform: uppercase;
	border-bottom: 1px solid #dce1e5;
}

.section-description {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.rock-item-text a,
.section-description a {
	color: #e5274a;
}

/*------------------ HOME ------------------*/

#home {
	text-align: center;
	background-color: #e5274a;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/images/bg-home.png);
}

#home h1 {
	color: #fff;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	margin-top: 80px;
}

#home h1 strong {
	font-weight: 700;
}

#home h2 {
	color: #882235;
	font-size: 64px;
	font-weight: 100;
}

#home h2 strong {
	color: #fff;
	font-weight: 100;
}

#home h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	margin-top: 50px;
}

.home-social {
	height: 24px;
	width: 136px;
	margin: 170px auto -40px;
}

.home-social-link {
	width: 24px;
	height: 24px;
	float: left;
	margin: 0 5px;
	display: block;
	opacity: 0.3;
	cursor: pointer;
	transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear;
}

.home-social-link:hover {
	opacity: 1;
}

.home-social-link.twitter {
	background-position: 3px -52px;
}

.home-social-link.facebook {
	background-position: -29px -51px;
}

.home-social-link.gplus {
	background-position: -60px -52px;
}

.home-social-link.dribble {
	background-position: -91px -52px;
}

/*------------------ ROCK ------------------*/

#rock {
	background-color: #f4f7f9;
}

.rock-list {
	margin-top: 80px;
	padding-left: 30px;
}

.rock-item {
	float: left;
	color: #062033;
	width: 33.333%;
	padding: 0 55px;
}

.rock-item-icon {
	width: 40px;
	height: 40px;
	float: left;
	margin-left: -55px;
}

.rock-item-icon.training {
	background-position: -190px -60px;
}

.rock-item-icon.open {
	background-position: -255px 0;
}

.rock-item-icon.consulting {
	background-position: -190px 0;
}

.rock-item-name {
	color: #062033;
	font-size: 20px;
	font-weight: 600;
}

.rock-item-text {
	font-size: 13px;
	line-height: 20px;
	margin-top: 10px;
}


/*------------------ OUR DIFFERENTIAL ------------------*/

.people-list {
	width: 700px;
	margin: 100px auto 0;
}

.people {
	width: 340px;
	float: left;
}

.people-thumb {
	width: 320px;
	margin: 0 auto;
}

.people-thumb img {
	width: 100%;
	height: 100%;
}

.people-name {
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	margin: 15px 0 5px;
}

.people-role {
	font-size: 13px;
	text-align: center;
	opacity: 0.5;
}

/*------------------ PRODUCTS ------------------*/

#products {
	background-color: #0b2235;
	background-image: url(/images/bg-products.jpg);
}

.product-list {
	width: 1050px;
	margin: 0 auto;
}

.product {
	float: left;
	color: #fff;
	width: 350px;
	margin-top: 60px;
	text-align: center;
}

.product-thumb {
	width: 130px;
	height: 131px;
	margin: 0 auto 20px;
	background-image: url(/images/icons-product.png);
}

.product-thumb.cowdown {
	background-position: 0 0;
}

.product-thumb.meusgastos {
	background-position: -130px 0;
}

.product-thumb.eventon {
	background-position: -260px 0;
}

.product-thumb.youridea {
	background-position: -390px 0;
}

.product-name {
	font-size: 54px;
	font-weight: 600;
}

.product-description {
	font-size: 18px;
	text-transform: uppercase;
}

/*------------------ CONTACT ------------------*/

.contact-aside {
	width: 25%;
	float: left;
	margin-top: 70px;
}

.contact-aside h3 {
	color: #062033;
	font-size: 17px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 30px;
}

.contact-aside p {
	color: #6a737b;
	font-size: 13px;
	line-height: 22px;
}

.contact-form {
	width: 73%;
	float: right;
	margin-top: 70px;
}

.loading {
	opacity: 0.5;
	pointer-events: none;
}

.contact-input,
.contact-textarea {
	width: 45%;
	float: left;
	height: 50px;
	margin-right: 5%;
	border: none;
	padding-left: 10px;
	outline: none;
	font-size: 12px;
	color: #cf2648;
	margin-bottom: 30px;
	box-shadow: none;
	border-bottom: 1px solid #e6e6e7;
	background-color: #f7f7f8;
}

.contact-textarea {
	width: 95%;
	height: 135px;
	resize: none;
	margin-right: 5%;
	padding-top: 10px;
}

.contact-submit {
	border: none;
	float: right;
	height: 38px;
	margin-right: 5%;
	color: #fff;
	cursor: pointer;
	padding: 0 15px;
	background-color: #cf2648;
}

/*---------------------------------------*\
                  FOOTER
\*---------------------------------------*/

footer {
	width: 100%;
	height: 70px;
	color: #fff;
	line-height: 65px;
	background-color: #cf2648;
	border-top: 5px solid #d6d8da;
}

.footer-logo {
	width: 55px;
	height: 30px;
	float: left;
	margin-top: 17.5px;
	background-position: -103px 1px;
}

.footer-name {
	float: left;
	line-height: 18px;
	font-size: 16px;
	margin-left: 10px;
	padding-left: 10px;
	margin-top: 24px;
	border-left: 1px solid #fff;
}

.footer-copy {
	float: right;
	display: block;
	font-size: 13px;
	margin-right: 10px;
}

.footer-social {
	float: right;
	width: 108px;
	height: 26px;
	margin-top: 19.5px;
}

.footer-social-link {
	width: 26px;
	height: 26px;
	float: left;
	display: block;
	margin-left: 10px;
}

.footer-social-link.facebook {
	background-position: 0 -90px;
}

.footer-social-link.twitter {
	background-position: -47px -90px;
}

.footer-social-link.gplus {
	background-position: -85px -89px;
}

.checkmark {
	display: block;
	width: 120px;
	height: 120px;
	margin: 30px auto;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

.checkmark-circle {
	position: absolute;
	width: 0;
	height: 0;
	border: 60px solid #cf2648;
	border-radius: 60px;
	left: 0;
	top: 0;
}

.checkmark-stem {
	position: absolute;
	width: 25px;
	height: 79px;
	background-color: #fff;
	left: 57px;
	top: 17px;
}

.checkmark-kick {
	position: absolute;
	width: 30px;
	height: 25px;
	background-color: #fff;
	left: 37px;
	top: 71px;
}
